@using System.Data
@model DataTable
<div class="pagetitle">
    <h1>Customer</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active"></li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="d-flex justify-content-end align-items-end">
        <a class="btn btn-primary " asp-controller="Customer" asp-action="AddCustomer">Add New Department</a>
    </div>
    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th scope="col">CustomerName</th>
                <th scope="col">HomeAddress</th>
                <th scope="col">Email</th>
                <th scope="col">MobileNo</th>
                <th scope="col">GST_NO</th>
                <th scope="col">CityName</th>
                <th scope="col">PinCode</th>
                <th scope="col">NetAmount</th>
                <th scope="col">UserName</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow customer in Model.Rows)
            {
                <tr>
                    <td class="row">

                        <a class=" col btn btn-warning" asp-action="AddCustomer" asp-controller="Customer" asp-route-CustomerID="@customer["CustomerID"]">Edit</a>
                    
                        <form  class="col" asp-route-CustomerID="@customer["CustomerID"]" asp-action="DeleteInCustomer" asp-controller="Customer">
                            <button class="btn btn-danger" type="submit" onclick="return confirm('Are You Sure!')">
                                <span class="bi bi-trash"></span>
                            </button>

                        </form>
                    </td>
                    <td>@customer["CustomerName"]</td>
                    <td>@customer["HomeAddress"]</td>
                    <td>@customer["Email"]</td>
                    <td>@customer["MobileNo"]</td>
                    <td>@customer["GST_NO"]</td>
                    <td>@customer["CityName"]</td>
                    <td>@customer["PinCode"]</td>
                    <td>@customer["NetAmount"]</td>
                    <td>@customer["UserName"]</td>
                    
                </tr>
            }


        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</section>
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
