@model OrderModel
<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Add New Order</h5>

            <!-- Horizontal Form -->
            <form asp-controller="Order" asp-action="SaveData">
                <input asp-for="OrderID" type="hidden">
                <div class="row mb-3">
                    <label for="inputEmail3"  asp-for="OrderDate" class="col-sm-2 col-form-label"><span class="text-danger">*</span>OrderDate</label>
                    <div class="col-sm-10">

                        <input  class="form-control" asp-for="OrderDate" name="OrderDate" required />
                        <span class="text-danger" asp-validation-for="OrderDate"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>Customer ID</label>
                    <div class="col-sm-10">
                        <select id="inputState" asp-for="CustomerId" name="CustomerId" asp-items="@(new SelectList(ViewBag.custlist,"CustomerID","CustomerName"))" class="form-select">
                            <option value="">Select Customer</option>
                            </select>
                        <span asp-validation-for="CustomerId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>PaymentMode</label>
                    <div class="col-sm-10">
                        <select class="form-select" asp-for="PaymentMode" name="PaymentMode" required>
                              <option value="">Select Payment method</option>
                              <option value="upi">upi</option>
                              <option value="card">Card</option>
                              <option value="cash">cash</option>
                              <option value="check">Check</option>
                          </select>
                        <span asp-validation-for="PaymentMode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>TotalAmount</label>
                    <div class="col-sm-10">
                        <input  class="form-control"asp-for="TotalAmount" name="TotalAmount" required />
                        <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>ShippingAddress</label>
                    <div class="col-sm-10">
                        <input  class="form-control" asp-for="ShippingAddress" name="ShippingAddress" required />
                        <span class="text-danger" asp-validation-for="ShippingAddress"></span>
                    </div>
                </div>
               <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><span class="text-danger">*</span>User ID</label>
                    <div class="col-sm-10">
                        <input hidden asp-for="UserID" value="@CommonAccess.UserID()" />
                        <select id="inputState"  disabled asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserDropDownList,"UserID","UserName",@CommonAccess.UserID()))" name="UserID" class="form-select">
                            <option value="">Select User</option>
                        </select>
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                </div>

            
              
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-secondary" asp-action="Order" asp-controller="Order">Table</a>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}