@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>Order</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Order</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="d-flex justify-content-end align-items-end">
        <a class="btn btn-primary " asp-action="AddOrder" asp-controller="Order">Add New Order</a>
    </div>
    <!-- Table with stripped rows -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Action</th>
                <th scope="col">Order Date</th>
                <th scope="col">Cutomer Name</th>
                <th scope="col">PaymentMode</th>
                <th scope="col">Total Amount.</th>
                <th scope="col">Shipping Address</th>
                <th scope="col">User Name</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow order in Model.Rows)
            {   
                <tr>
                    <td class="row">
                        <a class="btn btn-warning col" asp-action="AddOrder" asp-route-OrderID="@order["OrderID"]" asp-controller="Order">Edit</a>
                        <form asp-action="Delete" class="col" asp-controller="Order" asp-route-OrderID="@order["OrderID"]">
                            <button type="submit"class="bi bi-trash btn btn-danger" onclick="return confirm('Are You Sure!')"></button>

                        </form>
                    </td>
                    <td>@order["OrderDate"]</td>
                    <td>@order["CustomerName"]</td>
                    <td>@order["PaymentMode"]</td>
                    <td>@order["TotalAmount"]</td>
                    <td>@order["ShippingAddress"]</td>
                    <td>@order["UserName"]</td>
                    
                </tr>
            }


        </tbody>
    </table>
    <!-- End Table with stripped rows -->

</section>
@{
    if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}
@{
    if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}